<a href="https://colab.research.google.com/github/Analyticdave/Data_Analytics_with_Python/blob/main/Gap_Minders_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

df = pd.read_csv('C:/Users/Mckinish_Computers/Desktop/Data Analytics/Datasets/gapminder_data_graphs.csv')
df

,country,continent,year,life_exp,hdi_index,co2_consump,gdp,services
0,Afghanistan,Asia,1998,53.3,0.344,0.0522,NaN,24.4
1,Afghanistan,Asia,1999,54.7,0.348,0.0402,NaN,24.6
2,Afghanistan,Asia,2000,54.7,0.350,0.0370,NaN,24.7
3,Afghanistan,Asia,2001,54.8,0.353,0.0376,NaN,24.7
4,Afghanistan,Asia,2002,55.5,0.384,0.0471,333.0,25.6
...,...,...,...,...,...,...,...,...
3670,Zimbabwe,Africa,2014,58.0,0.547,0.8810,1440.0,25.4
3671,Zimbabwe,Africa,2015,58.6,0.553,0.8810,1450.0,25.7
3672,Zimbabwe,Africa,2016,59.2,0.558,0.7710,1430.0,26.1
3673,Zimbabwe,Africa,2017,59.9,0.563,0.8450,1480.0,26.6
3674,Zimbabwe,Africa,2018,60.6,0.569,0.8500,1510.0,27.2

In [ ]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3675 entries, 0 to 3674
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   country      3675 non-null   object
 1   continent    3675 non-null   object
 2   year         3675 non-null   int64
 3   life_exp     3675 non-null   float64
 4   hdi_index    3563 non-null   float64
 5   co2_consump  3671 non-null   float64
 6   gdp          3633 non-null   float64
 7   services     3675 non-null   float64
dtypes: float64(5), int64(1), object(2)
memory usage: 229.8+ KB
None

In [ ]:
subset = df.loc[:,['year','life_exp']]
print(subset.head(10))

   year  life_exp
0  1998      53.3
1  1999      54.7
2  2000      54.7
3  2001      54.8
4  2002      55.5
5  2003      56.5
6  2004      57.1
7  2005      57.6
8  2006      58.0
9  2007      58.5

In [ ]:
small_range = list(range(5))
small_range

[0, 1, 2, 3, 4]

In [ ]:
irsubset = df.iloc[:,small_range]
display(irsubset.head())

       country continent  year  life_exp  hdi_index
0  Afghanistan      Asia  1998      53.3      0.344
1  Afghanistan      Asia  1999      54.7      0.348
2  Afghanistan      Asia  2000      54.7      0.350
3  Afghanistan      Asia  2001      54.8      0.353
4  Afghanistan      Asia  2002      55.5      0.384

In [ ]:
isubset = df.iloc[:,[0,3,-2]]
display(isubset.tail())

       country  life_exp     gdp
3670  Zimbabwe      58.0  1440.0
3671  Zimbabwe      58.6  1450.0
3672  Zimbabwe      59.2  1430.0
3673  Zimbabwe      59.9  1480.0
3674  Zimbabwe      60.6  1510.0

In [ ]:
display(df)

,country,continent,year,life_exp,hdi_index,co2_consump,gdp,services
0,Afghanistan,Asia,1998,53.3,0.344,0.0522,NaN,24.4
1,Afghanistan,Asia,1999,54.7,0.348,0.0402,NaN,24.6
2,Afghanistan,Asia,2000,54.7,0.350,0.0370,NaN,24.7
3,Afghanistan,Asia,2001,54.8,0.353,0.0376,NaN,24.7
4,Afghanistan,Asia,2002,55.5,0.384,0.0471,333.0,25.6
...,...,...,...,...,...,...,...,...
3670,Zimbabwe,Africa,2014,58.0,0.547,0.8810,1440.0,25.4
3671,Zimbabwe,Africa,2015,58.6,0.553,0.8810,1450.0,25.7
3672,Zimbabwe,Africa,2016,59.2,0.558,0.7710,1430.0,26.1
3673,Zimbabwe,Africa,2017,59.9,0.563,0.8450,1480.0,26.6
3674,Zimbabwe,Africa,2018,60.6,0.569,0.8500,1510.0,27.2

In [ ]:
df.head(-1)

,country,continent,year,life_exp,hdi_index,co2_consump,gdp,services
0,Afghanistan,Asia,1998,53.3,0.344,0.0522,NaN,24.4
1,Afghanistan,Asia,1999,54.7,0.348,0.0402,NaN,24.6
2,Afghanistan,Asia,2000,54.7,0.350,0.0370,NaN,24.7
3,Afghanistan,Asia,2001,54.8,0.353,0.0376,NaN,24.7
4,Afghanistan,Asia,2002,55.5,0.384,0.0471,333.0,25.6
...,...,...,...,...,...,...,...,...
3669,Zimbabwe,Africa,2013,57.2,0.537,0.8720,1440.0,25.3
3670,Zimbabwe,Africa,2014,58.0,0.547,0.8810,1440.0,25.4
3671,Zimbabwe,Africa,2015,58.6,0.553,0.8810,1450.0,25.7
3672,Zimbabwe,Africa,2016,59.2,0.558,0.7710,1430.0,26.1
3673,Zimbabwe,Africa,2017,59.9,0.563,0.8450,1480.0,26.6

In [ ]:
print(df.iloc[-1])

country        Zimbabwe
continent        Africa
year               2018
life_exp           60.6
hdi_index         0.569
co2_consump        0.85
gdp              1510.0
services           27.2
Name: 3674, dtype: object

In [ ]:
print(df.tail())

       country continent  year  life_exp  hdi_index  co2_consump     gdp  \
3670  Zimbabwe    Africa  2014      58.0      0.547        0.881  1440.0
3671  Zimbabwe    Africa  2015      58.6      0.553        0.881  1450.0
3672  Zimbabwe    Africa  2016      59.2      0.558        0.771  1430.0
3673  Zimbabwe    Africa  2017      59.9      0.563        0.845  1480.0
3674  Zimbabwe    Africa  2018      60.6      0.569        0.850  1510.0

      services
3670      25.4
3671      25.7
3672      26.1
3673      26.6
3674      27.2

In [ ]:
display(df.loc[42:60,'country'])

42    Algeria
43    Algeria
44    Algeria
45    Algeria
46    Algeria
47    Algeria
48    Algeria
49    Algeria
50    Algeria
51    Algeria
52    Algeria
53    Algeria
54    Algeria
55    Algeria
56    Algeria
57    Algeria
58    Algeria
59    Algeria
60    Algeria
Name: country, dtype: object

In [ ]:
display(df.iloc[4:60,0])

4     Afghanistan
5     Afghanistan
6     Afghanistan
7     Afghanistan
8     Afghanistan
9     Afghanistan
10    Afghanistan
11    Afghanistan
12    Afghanistan
13    Afghanistan
14    Afghanistan
15    Afghanistan
16    Afghanistan
17    Afghanistan
18    Afghanistan
19    Afghanistan
20    Afghanistan
21        Albania
22        Albania
23        Albania
24        Albania
25        Albania
26        Albania
27        Albania
28        Albania
29        Albania
30        Albania
31        Albania
32        Albania
33        Albania
34        Albania
35        Albania
36        Albania
37        Albania
38        Albania
39        Albania
40        Albania
41        Albania
42        Algeria
43        Algeria
44        Algeria
45        Algeria
46        Algeria
47        Algeria
48        Algeria
49        Algeria
50        Algeria
51        Algeria
52        Algeria
53        Algeria
54        Algeria
55        Algeria
56        Algeria
57        Algeria
58        Algeria
59        Algeria
Name: country, dtype: object

In [ ]:
print(df)

          country continent  year  life_exp  hdi_index  co2_consump     gdp  \
0     Afghanistan      Asia  1998      53.3      0.344       0.0522     NaN
1     Afghanistan      Asia  1999      54.7      0.348       0.0402     NaN
2     Afghanistan      Asia  2000      54.7      0.350       0.0370     NaN
3     Afghanistan      Asia  2001      54.8      0.353       0.0376     NaN
4     Afghanistan      Asia  2002      55.5      0.384       0.0471   333.0
...           ...       ...   ...       ...        ...          ...     ...
3670     Zimbabwe    Africa  2014      58.0      0.547       0.8810  1440.0
3671     Zimbabwe    Africa  2015      58.6      0.553       0.8810  1450.0
3672     Zimbabwe    Africa  2016      59.2      0.558       0.7710  1430.0
3673     Zimbabwe    Africa  2017      59.9      0.563       0.8450  1480.0
3674     Zimbabwe    Africa  2018      60.6      0.569       0.8500  1510.0

      services
0         24.4
1         24.6
2         24.7
3         24.7
4         25.6
...        ...
3670      25.4
3671      25.7
3672      26.1
3673      26.6
3674      27.2

[3675 rows x 8 columns]

In [ ]:
print(df.iloc[[0,50,150],[0,1,5,6]])

         country continent  co2_consump      gdp
0    Afghanistan      Asia       0.0522      NaN
50       Algeria    Africa       2.9800   3760.0
150      Austria    Europe       8.6900  39200.0

In [ ]:
print(df.shape)

(3675, 8)

In [ ]:
print(df.size)

29400

In [ ]:
print(df.columns)

Index(['country', 'continent', 'year', 'life_exp', 'hdi_index', 'co2_consump',
       'gdp', 'services'],
      dtype='object')

In [ ]:
print(df.dtypes)

country         object
continent       object
year             int64
life_exp       float64
hdi_index      float64
co2_consump    float64
gdp            float64
services       float64
dtype: object

In [ ]:
print(df.info)

<bound method DataFrame.info of           country continent  year  life_exp  hdi_index  co2_consump     gdp  \
0     Afghanistan      Asia  1998      53.3      0.344       0.0522     NaN
1     Afghanistan      Asia  1999      54.7      0.348       0.0402     NaN
2     Afghanistan      Asia  2000      54.7      0.350       0.0370     NaN
3     Afghanistan      Asia  2001      54.8      0.353       0.0376     NaN
4     Afghanistan      Asia  2002      55.5      0.384       0.0471   333.0
...           ...       ...   ...       ...        ...          ...     ...
3670     Zimbabwe    Africa  2014      58.0      0.547       0.8810  1440.0
3671     Zimbabwe    Africa  2015      58.6      0.553       0.8810  1450.0
3672     Zimbabwe    Africa  2016      59.2      0.558       0.7710  1430.0
3673     Zimbabwe    Africa  2017      59.9      0.563       0.8450  1480.0
3674     Zimbabwe    Africa  2018      60.6      0.569       0.8500  1510.0

      services
0         24.4
1         24.6
2         24.7
3         24.7
4         25.6
...        ...
3670      25.4
3671      25.7
3672      26.1
3673      26.6
3674      27.2

[3675 rows x 8 columns]>

In [ ]:
df.dropna()

,country,continent,year,life_exp,hdi_index,co2_consump,gdp,services
4,Afghanistan,Asia,2002,55.5,0.384,0.0471,333.0,25.6
5,Afghanistan,Asia,2003,56.5,0.393,0.0509,346.0,25.9
6,Afghanistan,Asia,2004,57.1,0.409,0.0368,336.0,26.1
7,Afghanistan,Asia,2005,57.6,0.418,0.0515,360.0,26.5
8,Afghanistan,Asia,2006,58.0,0.429,0.0622,368.0,26.9
...,...,...,...,...,...,...,...,...
3670,Zimbabwe,Africa,2014,58.0,0.547,0.8810,1440.0,25.4
3671,Zimbabwe,Africa,2015,58.6,0.553,0.8810,1450.0,25.7
3672,Zimbabwe,Africa,2016,59.2,0.558,0.7710,1430.0,26.1
3673,Zimbabwe,Africa,2017,59.9,0.563,0.8450,1480.0,26.6
3674,Zimbabwe,Africa,2018,60.6,0.569,0.8500,1510.0,27.2

In [ ]:
df

,country,continent,year,life_exp,hdi_index,co2_consump,gdp,services
0,Afghanistan,Asia,1998,53.3,0.344,0.0522,NaN,24.4
1,Afghanistan,Asia,1999,54.7,0.348,0.0402,NaN,24.6
2,Afghanistan,Asia,2000,54.7,0.350,0.0370,NaN,24.7
3,Afghanistan,Asia,2001,54.8,0.353,0.0376,NaN,24.7
4,Afghanistan,Asia,2002,55.5,0.384,0.0471,333.0,25.6
...,...,...,...,...,...,...,...,...
3670,Zimbabwe,Africa,2014,58.0,0.547,0.8810,1440.0,25.4
3671,Zimbabwe,Africa,2015,58.6,0.553,0.8810,1450.0,25.7
3672,Zimbabwe,Africa,2016,59.2,0.558,0.7710,1430.0,26.1
3673,Zimbabwe,Africa,2017,59.9,0.563,0.8450,1480.0,26.6
3674,Zimbabwe,Africa,2018,60.6,0.569,0.8500,1510.0,27.2

In [ ]:
country_df = df['country']

In [ ]:
country_df

0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
           ...
3670       Zimbabwe
3671       Zimbabwe
3672       Zimbabwe
3673       Zimbabwe
3674       Zimbabwe
Name: country, Length: 3675, dtype: object

In [ ]:
print(country_df.head())

0    Afghanistan
1    Afghanistan
2    Afghanistan
3    Afghanistan
4    Afghanistan
Name: country, dtype: object

In [ ]:
subset = df[['country','continent','year']]
print(subset.head())

       country continent  year
0  Afghanistan      Asia  1998
1  Afghanistan      Asia  1999
2  Afghanistan      Asia  2000
3  Afghanistan      Asia  2001
4  Afghanistan      Asia  2002

In [ ]:
print(df.head())

       country continent  year  life_exp  hdi_index  co2_consump    gdp  \
0  Afghanistan      Asia  1998      53.3      0.344       0.0522    NaN
1  Afghanistan      Asia  1999      54.7      0.348       0.0402    NaN
2  Afghanistan      Asia  2000      54.7      0.350       0.0370    NaN
3  Afghanistan      Asia  2001      54.8      0.353       0.0376    NaN
4  Afghanistan      Asia  2002      55.5      0.384       0.0471  333.0

   services
0      24.4
1      24.6
2      24.7
3      24.7
4      25.6

In [ ]:
print(df.loc[999])

country              Ecuador
continent      South America
year                    2010
life_exp                74.3
hdi_index              0.726
co2_consump             2.39
gdp                   5320.0
services                53.6
Name: 999, dtype: object

In [ ]:
# selection of more than one column with iloc function

In [ ]:
print(df.iloc[[0, 200,3000 ],[0,1, 2, 3, 5]])

           country      continent  year  life_exp  co2_consump
0      Afghanistan           Asia  1998      53.3       0.0522
200        Bahamas  North America  2009      73.2       4.5900
3000  South Africa         Africa  2016      62.7       8.4600

# using theloc fuction requires typing the row names needed.

In [ ]:
print(df.loc[[0,20,500],['country','year','life_exp']])

         country  year  life_exp
0    Afghanistan  1998      53.3
20   Afghanistan  2018      62.7
500     Bulgaria  2015      73.2

In [ ]:
# slicing multiple rows

In [ ]:
print(df.loc[10:20,['country','year','life_exp']])

        country  year  life_exp
10  Afghanistan  2008      59.2
11  Afghanistan  2009      59.9
12  Afghanistan  2010      60.5
13  Afghanistan  2011      61.0
14  Afghanistan  2012      61.4
15  Afghanistan  2013      61.9
16  Afghanistan  2014      61.9
17  Afghanistan  2015      61.9
18  Afghanistan  2016      62.0
19  Afghanistan  2017      62.9
20  Afghanistan  2018      62.7

In [ ]:
# printing multiple rows with the head function

In [ ]:
print(df.head(n=20))

        country continent  year  life_exp  hdi_index  co2_consump    gdp  \
0   Afghanistan      Asia  1998      53.3      0.344       0.0522    NaN
1   Afghanistan      Asia  1999      54.7      0.348       0.0402    NaN
2   Afghanistan      Asia  2000      54.7      0.350       0.0370    NaN
3   Afghanistan      Asia  2001      54.8      0.353       0.0376    NaN
4   Afghanistan      Asia  2002      55.5      0.384       0.0471  333.0
5   Afghanistan      Asia  2003      56.5      0.393       0.0509  346.0
6   Afghanistan      Asia  2004      57.1      0.409       0.0368  336.0
7   Afghanistan      Asia  2005      57.6      0.418       0.0515  360.0
8   Afghanistan      Asia  2006      58.0      0.429       0.0622  368.0
9   Afghanistan      Asia  2007      58.5      0.447       0.0838  409.0
10  Afghanistan      Asia  2008      59.2      0.447       0.1520  415.0
11  Afghanistan      Asia  2009      59.9      0.460       0.2380  492.0
12  Afghanistan      Asia  2010      60.5      0.472       0.2900  547.0
13  Afghanistan      Asia  2011      61.0      0.477       0.4060  533.0
14  Afghanistan      Asia  2012      61.4      0.489       0.3450  580.0
15  Afghanistan      Asia  2013      61.9      0.496       0.2800  592.0
16  Afghanistan      Asia  2014      61.9      0.500       0.2530  588.0
17  Afghanistan      Asia  2015      61.9      0.500       0.2620  578.0
18  Afghanistan      Asia  2016      62.0      0.502       0.2450  575.0
19  Afghanistan      Asia  2017      62.9      0.506       0.2470  576.0

    services
0       24.4
1       24.6
2       24.7
3       24.7
4       25.6
5       25.9
6       26.1
7       26.5
8       26.9
9       27.7
10      28.2
11      29.5
12      30.7
13      31.7
14      32.8
15      33.8
16      34.8
17      35.8
18      36.9
19      38.0

In [ ]:
df.isna().sum()

country          0
continent        0
year             0
life_exp         0
hdi_index      112
co2_consump      4
gdp             42
services         0
dtype: int64

In [ ]:
#checking for duplicate rows
df.duplicated().sum()

0

In [ ]:
# finding the mean using the mean() and groupby() functions

In [ ]:
print(df.groupby('year')['life_exp'].mean())

year
1998    66.912000
1999    67.125714
2000    67.410286
2001    67.676000
2002    67.873714
2003    68.094286
2004    68.371429
2005    68.735429
2006    69.122857
2007    69.516571
2008    69.850286
2009    70.217714
2010    70.473143
2011    70.967429
2012    71.312571
2013    71.607429
2014    71.804000
2015    72.045143
2016    72.324000
2017    72.584571
2018    72.810857
Name: life_exp, dtype: float64

In [ ]:
# finding the mean using multiple parameters

In [ ]:
multi_group = df.groupby(['year','continent'])[['life_exp','gdp']].mean()
print(multi_group)

                     life_exp           gdp
year continent
1998 Africa         56.111765   1549.021739
     Asia           68.774468   9294.272727
     Europe         74.715385  21277.692308
     North America  71.831579  10372.105263
     Oceania        68.187500  11151.250000
...                       ...           ...
2018 Asia           74.344681  12845.936170
     Europe         79.187179  29992.820513
     North America  75.268421  14000.526316
     Oceania        70.625000  15218.750000
     South America  75.827273   8611.818182

[126 rows x 2 columns]

In [ ]:
print(multi_group)

                     life_exp           gdp
year continent
1998 Africa         56.111765   1549.021739
     Asia           68.774468   9294.272727
     Europe         74.715385  21277.692308
     North America  71.831579  10372.105263
     Oceania        68.187500  11151.250000
...                       ...           ...
2018 Asia           74.344681  12845.936170
     Europe         79.187179  29992.820513
     North America  75.268421  14000.526316
     Oceania        70.625000  15218.750000
     South America  75.827273   8611.818182

[126 rows x 2 columns]

In [ ]:
print(multi_group.head(n=100))

                     life_exp           gdp
year continent
1998 Africa         56.111765   1549.021739
     Asia           68.774468   9294.272727
     Europe         74.715385  21277.692308
     North America  71.831579  10372.105263
     Oceania        68.187500  11151.250000
...                       ...           ...
2013 South America  75.063636   8451.818182
2014 Africa         63.317647   2294.607843
     Asia           73.572340  12262.659574
     Europe         78.630769  27327.435897
     North America  74.863158  13306.315789

[100 rows x 2 columns]

In [ ]:
index = print(multi_group.reset_index)
print(index)

<bound method DataFrame.reset_index of                      life_exp           gdp
year continent
1998 Africa         56.111765   1549.021739
     Asia           68.774468   9294.272727
     Europe         74.715385  21277.692308
     North America  71.831579  10372.105263
     Oceania        68.187500  11151.250000
...                       ...           ...
2018 Asia           74.344681  12845.936170
     Europe         79.187179  29992.820513
     North America  75.268421  14000.526316
     Oceania        70.625000  15218.750000
     South America  75.827273   8611.818182

[126 rows x 2 columns]>
None

In [ ]:
# use of the nnunique() function

In [ ]:
print(df.groupby('continent')['country'].nunique())

continent
Africa           51
Asia             47
Europe           39
North America    19
Oceania           8
South America    11
Name: country, dtype: int64

In [ ]:
## ce ==> continental life expectancy
# the code prints the mean continental life expectancy based on th continents

In [ ]:
ce = print(df.groupby('continent',)['life_exp'].mean())
print(ce)

continent
Africa           60.274136
Asia             71.677102
Europe           77.047741
North America    74.048872
Oceania          69.346429
South America    74.023810
Name: life_exp, dtype: float64
None

In [ ]:
ye = print(df.groupby('year')['life_exp'].mean())

year
1998    66.912000
1999    67.125714
2000    67.410286
2001    67.676000
2002    67.873714
2003    68.094286
2004    68.371429
2005    68.735429
2006    69.122857
2007    69.516571
2008    69.850286
2009    70.217714
2010    70.473143
2011    70.967429
2012    71.312571
2013    71.607429
2014    71.804000
2015    72.045143
2016    72.324000
2017    72.584571
2018    72.810857
Name: life_exp, dtype: float64