<a href="https://colab.research.google.com/github/Analyticdave/Data_Analytics_with_Python/blob/main/measures_of_Dispersion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import scipy
from scipy import stats

In [ ]:
# Importing the dataset

In [ ]:
path = "C:/Users/Mckinish_Computers/Desktop/Data Analytics/IBM-313 Marks.xlsx"
table = pd.read_excel(path)
print(table)

    S.No.  MTE (25)  Mini Project (25)  Total (50)  ETE (50)  Total
0       1      5.00                 20       25.00      12.0  37.00
1       2     11.05                 20       31.05      26.0  57.05
2       3      8.10                 20       28.10      14.0  42.10
3       4      6.00                 10       16.00      13.0  29.00
4       5     11.35                 20       31.35      17.0  48.35
..    ...       ...                ...         ...       ...    ...
74     75     12.05                 10       22.05      20.0  42.05
75     76     12.25                 10       22.25      28.0  50.25
76     77      1.75                 10       11.75       NaN   0.00
77     78      3.00                 10       13.00       NaN   0.00
78     79      5.80                 10       15.80      12.0  27.80

[79 rows x 6 columns]

In [ ]:
table

    S.No.  MTE (25)  Mini Project (25)  Total (50)  ETE (50)  Total
0       1      5.00                 20       25.00      12.0  37.00
1       2     11.05                 20       31.05      26.0  57.05
2       3      8.10                 20       28.10      14.0  42.10
3       4      6.00                 10       16.00      13.0  29.00
4       5     11.35                 20       31.35      17.0  48.35
..    ...       ...                ...         ...       ...    ...
74     75     12.05                 10       22.05      20.0  42.05
75     76     12.25                 10       22.25      28.0  50.25
76     77      1.75                 10       11.75       NaN   0.00
77     78      3.00                 10       13.00       NaN   0.00
78     79      5.80                 10       15.80      12.0  27.80

[79 rows x 6 columns]

In [ ]:
# Calculating the total

In [ ]:
x = table['Total']

In [ ]:
# Finding the mean of the distribution

In [ ]:
display(x)

0     37.00
1     57.05
2     42.10
3     29.00
4     48.35
      ...
74    42.05
75    50.25
76     0.00
77     0.00
78    27.80
Name: Total, Length: 79, dtype: float64

In [ ]:
mean = np.mean(x)
print(mean)

46.90632911392405

In [ ]:
# calculating the median of the distribution

In [ ]:
median = np.median(x)
print(median)

45.0

In [ ]:
# Calculation of the modal score

In [ ]:
import scipy
from scipy import stats

In [ ]:
# Percentiles

In [ ]:
a = np.array([2,6,10,50,100])
Q1 = np.percentile(a,25)
Q2 = np.percentile(a,50)
Q3 = np.percentile(a,75)
print('Q1',Q1)
print('Q2',Q2)
print('Q3',Q3)

Q1 6.0
Q2 10.0
Q3 50.0

In [ ]:
# Looping in python (for loop)

In [ ]:
p = ['man', 65, 23.67]
(p)

['man', 65, 23.67]

In [ ]:
for i in p:
    print(i)

man
65
23.67

In [ ]:
# printing a range, using minimum, maximum and increment

In [ ]:
for i in range(100,1000,100):print(i)

100
200
300
400
500
600
700
800
900

In [ ]:
for i in range(20,120,20):print(i, end=(',')) # using comma as the separator

20,40,60,80,100,

In [ ]:
# Functions in pytthon

In [ ]:
#A simple greeting funtion

In [ ]:
def greet():
    print('Hello')
    print('Good morning')
greet()

Hello
Good morning

In [ ]:
# A function to sum two numbers

In [ ]:
def sum(a,b):
    c = a + b
    return(c)
sum(4,6)

10

In [ ]:
# finding the minimum and maximum numbers in an array

In [ ]:
arr = [4,5,23,67,7,59,2,100,42]
min(arr),max(arr)

(2, 100)

In [ ]:
# A function to generate the min and max values from a set of data

In [ ]:
data = [70,95,2,5,7,4,89,50]
def min_and_max(data):
    min_val = min(data)
    max_val = max(data)
    return(min_val,max_val)

In [ ]:
min_and_max(data)  # here, the function is called.

(2, 95)

In [ ]:
def range(data):
    min_val = min(data)
    max_val = max(data)
    return(max_val - min_val)

In [ ]:
range(data)

93

In [ ]:
import statistics

In [ ]:
statistics.mean(data)

40.25

In [ ]:
statistics.stdev(data)

40.4960315516048

In [ ]:
import matplotlib.pyplot as plt