<a href="https://colab.research.google.com/github/Analyticdave/Data_Analytics_with_Python/blob/main/Python_Analytics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [45]:
p = print

In [46]:
p('God is great!')

God is great!

In [47]:
def greet():
  return "What's up, Data guru"

In [48]:
greet()

"What's up, Data guru"

In [49]:
job_title = 'Data Scientist'
Location = 'Nigeria'
Salary = 1000000

In [50]:
p(f"Job: {job_title}")
p(f"Location: {Location}")
p(f"Salary: {Salary}")

Job: Data Scientist
Location: Nigeria
Salary: 1000000

In [51]:
def info_show(job_title, Location, Salary):
  p(f"Job: {job_title}")
  p(f"Location: {Location}")
  p(f"Salary: {Salary}")

In [52]:
info_show(job_title, Location, Salary)

Job: Data Scientist
Location: Nigeria
Salary: 1000000

In [53]:
class JobPost:
  def __init__(self, job_title, Location, Salary):
    self.job_title = job_title
    self.Location = Location
    self.Salary = Salary

In [54]:
JobPost(job_title, Location, Salary)

In [55]:
# Attrbutes: The variable of an object.
# Attribute: is a field record, defined by a class

In [56]:
Job_1 = JobPost(job_title, Location, Salary) # An instance of JobPost

In [57]:
Job_1.Salary

1000000

In [58]:
# Methods: The function of an object
# Method: A function defined inside a class that operates its object

In [59]:
Salary.__add__(10000)

1010000

In [60]:
# Data type

### Python has several built-in data types:

>> ***Numeric Types***
1. Integers (int): whole numbers, e.g., 1, 2, 3, etc.
2. Floating Point Numbers (float): decimal numbers, e.g., 3.14, -0.5, etc.
3. Complex Numbers (complex): numbers with real and imaginary parts, e.g., 3 + 4j.

>> __Sequence Types__
1. Strings (str): sequences of characters, e.g., "hello", 'hello', etc. Strings can be enclosed in single quotes or double quotes.
2. Lists (list): ordered collections of items, e.g., [1, 2, 3], ["a", "b", "c"], etc.
3. Tuples (tuple): ordered, immutable collections of items, e.g., (1, 2, 3), ("a", "b", "c"), etc.

>> ***Mapping Type***
1. Dictionaries (dict): unordered collections of key-value pairs, e.g., {"name": "John", "age": 30}, etc.

>> ***Set Types***
1. Sets (set): unordered collections of unique items, e.g., {1, 2, 3}, {"a", "b", "c"}, etc.
2. Frozensets (frozenset): immutable sets, e.g., frozenset({1, 2, 3}).

>> ***Boolean Type***
1. Boolean (bool): a logical value that can be either True or False.

>> ***Binary Types***
1. Bytes (bytes): sequences of integers in the range 0 <= x < 256, e.g., b'hello'.
2. ByteArray (bytearray): mutable sequences of integers in the range 0 <= x < 256.
3. MemoryView (memoryview): a view into an existing buffer, e.g., a bytes or bytearray object.

>> ***None Type***
1. None (NoneType): a special type with a single value, None, which represents the absence of a value.

These are the basic data types in Python. Understanding these data types is essential for writing effective Python code.

In [61]:
# Strings

In [62]:
help(str)

Help on class str in module builtins:

class str(object)
 |  str(object='') -> str
 |  str(bytes_or_buffer[, encoding[, errors]]) -> str
 |
 |  Create a new string object from the given object. If encoding or
 |  errors is specified, then the object must expose a data buffer
 |  that will be decoded using the given encoding and error handler.
 |  Otherwise, returns the result of object.__str__() (if defined)
 |  or repr(object).
 |  encoding defaults to sys.getdefaultencoding().
 |  errors defaults to 'strict'.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __format__(self, format_spec, /)
 |      Return a formatted version of the string as described by format_spec.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(...)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __sizeof__(self, /)
 |      Return the size of the string in memory, in bytes.
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  capitalize(self, /)
 |      Return a capitalized version of the string.
 |
 |      More specifically, make the first character have upper case and the rest lower
 |      case.
 |
 |  casefold(self, /)
 |      Return a version of the string suitable for caseless comparisons.
 |
 |  center(self, width, fillchar=' ', /)
 |      Return a centered string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  count(...)
 |      S.count(sub[, start[, end]]) -> int
 |
 |      Return the number of non-overlapping occurrences of substring sub in
 |      string S[start:end].  Optional arguments start and end are
 |      interpreted as in slice notation.
 |
 |  encode(self, /, encoding='utf-8', errors='strict')
 |      Encode the string using the codec registered for encoding.
 |
 |      encoding
 |        The encoding in which to encode the string.
 |      errors
 |        The error handling scheme to use for encoding errors.
 |        The default is 'strict' meaning that encoding errors raise a
 |        UnicodeEncodeError.  Other possible values are 'ignore', 'replace' and
 |        'xmlcharrefreplace' as well as any other name registered with
 |        codecs.register_error that can handle UnicodeEncodeErrors.
 |
 |  endswith(...)
 |      S.endswith(suffix[, start[, end]]) -> bool
 |
 |      Return True if S ends with the specified suffix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      suffix can also be a tuple of strings to try.
 |
 |  expandtabs(self, /, tabsize=8)
 |      Return a copy where all tab characters are expanded using spaces.
 |
 |      If tabsize is not given, a tab size of 8 characters is assumed.
 |
 |  find(...)
 |      S.find(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  format(...)
 |      S.format(*args, **kwargs) -> str
 |
 |      Return a formatted version of S, using substitutions from args and kwargs.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  format_map(...)
 |      S.format_map(mapping) -> str
 |
 |      Return a formatted version of S, using substitutions from mapping.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  index(...)
 |      S.index(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  isalnum(self, /)
 |      Return True if the string is an alpha-numeric string, False otherwise.
 |
 |      A string is alpha-numeric if all characters in the string are alpha-numeric and
 |      there is at least one character in the string.
 |
 |  isalpha(self, /)
 |      Return True if the string is an alphabetic string, False otherwise.
 |
 |      A string is alphabetic if all characters in the string are alphabetic and there
 |      is at least one character in the string.
 |
 |  isascii(self, /)
 |      Return True if all characters in the string are ASCII, False otherwise.
 |
 |      ASCII characters have code points in the range U+0000-U+007F.
 |      Empty string is ASCII too.
 |
 |  isdecimal(self, /)
 |      Return True if the string is a decimal string, False otherwise.
 |
 |      A string is a decimal string if all characters in the string are decimal and
 |      there is at least one character in the string.
 |
 |  isdigit(self, /)
 |      Return True if the string is a digit string, False otherwise.
 |
 |      A string is a digit string if all characters in the string are digits and there
 |      is at least one character in the string.
 |
 |  isidentifier(self, /)
 |      Return True if the string is a valid Python identifier, False otherwise.
 |
 |      Call keyword.iskeyword(s) to test whether string s is a reserved identifier,
 |      such as "def" or "class".
 |
 |  islower(self, /)
 |      Return True if the string is a lowercase string, False otherwise.
 |
 |      A string is lowercase if all cased characters in the string are lowercase and
 |      there is at least one cased character in the string.
 |
 |  isnumeric(self, /)
 |      Return True if the string is a numeric string, False otherwise.
 |
 |      A string is numeric if all characters in the string are numeric and there is at
 |      least one character in the string.
 |
 |  isprintable(self, /)
 |      Return True if the string is printable, False otherwise.
 |
 |      A string is printable if all of its characters are considered printable in
 |      repr() or if it is empty.
 |
 |  isspace(self, /)
 |      Return True if the string is a whitespace string, False otherwise.
 |
 |      A string is whitespace if all characters in the string are whitespace and there
 |      is at least one character in the string.
 |
 |  istitle(self, /)
 |      Return True if the string is a title-cased string, False otherwise.
 |
 |      In a title-cased string, upper- and title-case characters may only
 |      follow uncased characters and lowercase characters only cased ones.
 |
 |  isupper(self, /)
 |      Return True if the string is an uppercase string, False otherwise.
 |
 |      A string is uppercase if all cased characters in the string are uppercase and
 |      there is at least one cased character in the string.
 |
 |  join(self, iterable, /)
 |      Concatenate any number of strings.
 |
 |      The string whose method is called is inserted in between each given string.
 |      The result is returned as a new string.
 |
 |      Example: '.'.join(['ab', 'pq', 'rs']) -> 'ab.pq.rs'
 |
 |  ljust(self, width, fillchar=' ', /)
 |      Return a left-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  lower(self, /)
 |      Return a copy of the string converted to lowercase.
 |
 |  lstrip(self, chars=None, /)
 |      Return a copy of the string with leading whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  partition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string.  If the separator is found,
 |      returns a 3-tuple containing the part before the separator, the separator
 |      itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing the original string
 |      and two empty strings.
 |
 |  removeprefix(self, prefix, /)
 |      Return a str with the given prefix string removed if present.
 |
 |      If the string starts with the prefix string, return string[len(prefix):].
 |      Otherwise, return a copy of the original string.
 |
 |  removesuffix(self, suffix, /)
 |      Return a str with the given suffix string removed if present.
 |
 |      If the string ends with the suffix string and that suffix is not empty,
 |      return string[:-len(suffix)]. Otherwise, return a copy of the original
 |      string.
 |
 |  replace(self, old, new, count=-1, /)
 |      Return a copy with all occurrences of substring old replaced by new.
 |
 |        count
 |          Maximum number of occurrences to replace.
 |          -1 (the default value) means replace all occurrences.
 |
 |      If the optional argument count is given, only the first count occurrences are
 |      replaced.
 |
 |  rfind(...)
 |      S.rfind(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  rindex(...)
 |      S.rindex(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  rjust(self, width, fillchar=' ', /)
 |      Return a right-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  rpartition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string, starting at the end. If
 |      the separator is found, returns a 3-tuple containing the part before the
 |      separator, the separator itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing two empty strings
 |      and the original string.
 |
 |  rsplit(self, /, sep=None, maxsplit=-1)
 |      Return a list of the substrings in the string, using sep as the separator string.
 |
 |        sep
 |          The separator used to split the string.
 |
 |          When set to None (the default value), will split on any whitespace
 |          character (including \n \r \t \f and spaces) and will discard
 |          empty strings from the result.
 |        maxsplit
 |          Maximum number of splits.
 |          -1 (the default value) means no limit.
 |
 |      Splitting starts at the end of the string and works to the front.
 |
 |  rstrip(self, chars=None, /)
 |      Return a copy of the string with trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  split(self, /, sep=None, maxsplit=-1)
 |      Return a list of the substrings in the string, using sep as the separator string.
 |
 |        sep
 |          The separator used to split the string.
 |
 |          When set to None (the default value), will split on any whitespace
 |          character (including \n \r \t \f and spaces) and will discard
 |          empty strings from the result.
 |        maxsplit
 |          Maximum number of splits.
 |          -1 (the default value) means no limit.
 |
 |      Splitting starts at the front of the string and works to the end.
 |
 |      Note, str.split() is mainly useful for data that has been intentionally
 |      delimited.  With natural text that includes punctuation, consider using
 |      the regular expression module.
 |
 |  splitlines(self, /, keepends=False)
 |      Return a list of the lines in the string, breaking at line boundaries.
 |
 |      Line breaks are not included in the resulting list unless keepends is given and
 |      true.
 |
 |  startswith(...)
 |      S.startswith(prefix[, start[, end]]) -> bool
 |
 |      Return True if S starts with the specified prefix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      prefix can also be a tuple of strings to try.
 |
 |  strip(self, chars=None, /)
 |      Return a copy of the string with leading and trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  swapcase(self, /)
 |      Convert uppercase characters to lowercase and lowercase characters to uppercase.
 |
 |  title(self, /)
 |      Return a version of the string where each word is titlecased.
 |
 |      More specifically, words start with uppercased characters and all remaining
 |      cased characters have lower case.
 |
 |  translate(self, table, /)
 |      Replace each character in the string using the given translation table.
 |
 |        table
 |          Translation table, which must be a mapping of Unicode ordinals to
 |          Unicode ordinals, strings, or None.
 |
 |      The table must implement lookup/indexing via __getitem__, for instance a
 |      dictionary or list.  If this operation raises LookupError, the character is
 |      left untouched.  Characters mapped to None are deleted.
 |
 |  upper(self, /)
 |      Return a copy of the string converted to uppercase.
 |
 |  zfill(self, width, /)
 |      Pad a numeric string with zeros on the left, to fill a field of the given width.
 |
 |      The string is never truncated.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  maketrans(...)
 |      Return a translation table usable for str.translate().
 |
 |      If there is only one argument, it must be a dictionary mapping Unicode
 |      ordinals (integers) or characters to Unicode ordinals, strings or None.
 |      Character keys will be then converted to ordinals.
 |      If there are two arguments, they must be strings of equal length, and
 |      in the resulting dictionary, each character in x will be mapped to the
 |      character at the same position in y. If there is a third argument, it
 |      must be a string, whose characters will be mapped to None in the result.

In [63]:
Skill = 'Python'

In [64]:
Skill.upper()

'PYTHON'

In [65]:
Skill.lower()

'python'

In [66]:
Skill.__add__(' Programming')

'Python Programming'

In [67]:
Skill.replace('P','D',2)

'Dython'

In [68]:
Skill = 'Python Programming'

In [69]:
Skill

'Python Programming'

In [70]:
Skill.split(sep=' ', maxsplit= 1)

['Python', 'Programming']

In [71]:
Fun = 'Data Analytics' + ' is fun!'

In [72]:
Fun

'Data Analytics is fun!'

In [73]:
Fun * 10

'Data Analytics is fun!Data Analytics is fun!Data Analytics is fun!Data Analytics is fun!Data Analytics is fun!Data Analytics is fun!Data Analytics is fun!Data Analytics is fun!Data Analytics is fun!Data Analytics is fun!'

In [74]:
len(Fun)

22

In [75]:
# String Formating

***String formatting in Python is a way to insert values into a string. There are several ways to format strings in Python:***

1. *Using the % Operator*
This is an older way of formatting strings. It's not as powerful as other methods, but it's still widely used.


name = "John"
age = 30
print("My name is %s and I am %d years old." % (name, age))


2. *Using the str.format() Method*
This method is more powerful than the % operator. It allows you to specify the format of the values.


name = "John"
age = 30
print("My name is {} and I am {} years old.".format(name, age))


You can also specify the format of the values:


pi = 3.14159265359
print("The value of pi is {:.2f}".format(pi))


3. Using F-Strings (Formatted String Literals)
F-strings are a new way of formatting strings in Python, introduced in version 3.6. They are more readable and convenient than other methods.


name = "John"
age = 30
print(f"My name is {name} and I am {age} years old.")


You can also specify the format of the values:


pi = 3.14159265359
print(f"The value of pi is {pi:.2f}")


String Formatting Options
Here are some common string formatting options:

- d or i: decimal integer
- f: fixed-point number
- e: exponential notation
- g: general format (fixed or exponential notation)
- s: string
- x or X: hexadecimal integer

You can also specify the precision and width of the formatted value:


pi = 3.14159265359
print(f"The value of pi is {pi:10.2f}")  # width 10, precision 2


Examples
Here are some more examples of string formatting:


# formatting integers
x = 123
print(f"The value of x is {x:04d}")  # zero-padding

# formatting floats
pi = 3.14159265359
print(f"The value of pi is {pi:.2e}")  # exponential notation

# formatting strings
name = "John"
print(f"Hello, {name.upper()}!")  # uppercase


These are just a few examples of string formatting in Python. You can use these techniques to create complex and formatted strings.

In [76]:
Language = 'Python'
User = 'Data Analyst'

In [77]:
' Language: ' + Language

' Language: Python'

In [78]:
'User: ' + User

'User: Data Analyst'

In [79]:
# format(...)
#  |      S.format(*args, **kwargs) -> str
#  |
#  |      Return a formatted version of S, using substitutions from args and kwargs.
#  |      The substitutions are identified by braces ('{' and '}').

#  | creating a string with Language "Python"
Language = 'Python'
User = 'Data Analyst'

'Language: {}'.format(Language)

'Language: Python'

In [80]:
#  | Creating a string with user "Data Analysyt"
Language = 'Python'
User = 'Data Analyst'

'User: {}'.format(User)

'User: Data Analyst'

In [81]:
#  | Combinning both Language and User in the String format
Language = 'Python'
User = 'Data Analyst'

'Programming Language: {}; User: {}'.format(Language, User)

'Programming Language: Python; User: Data Analyst'

In [82]:
#  | Using f-strings Formating Literals
Language = 'Python'
User = 'Data Analyst'
f'Programming Language: {Language}; User: {User}' # .format is not required

'Programming Language: Python; User: Data Analyst'

In [83]:
# %-Formating String Literals

In [84]:
'Programming Language: %s' % (Language)

'Programming Language: Python'

In [85]:
'User: %s' % (User)

'User: Data Analyst'

In [86]:
'Programming Language: %s; User: %s' % (Language, User)

'Programming Language: Python; User: Data Analyst'

In [87]:
#  | The join method

In [88]:
integers = '0123456789'
', '.join(integers)

'0, 1, 2, 3, 4, 5, 6, 7, 8, 9'

In [89]:
Skills = ['Python', 'SQL', 'Machine Learning','Excel','Tableau', 'Power BI']
'| '.join(Skills)

'Python| SQL| Machine Learning| Excel| Tableau| Power BI'

In [90]:
# Operators

Operators in Python are special symbols used to perform operations on variables and values. Here are some common operators in Python:

Arithmetic Operators
1. Addition (+): a + b
2. Subtraction (-): a - b
3. Multiplication (*): a * b
4. Division (/): a / b
5. Modulus (%): a % b (remainder of division)
6. Exponentiation (**): a ** b (a to the power of b)
7. Floor Division (//): a // b (integer division)

Examples:


a = 10
b = 3

print(a + b)  # Output: 13
print(a - b)  # Output: 7
print(a * b)  # Output: 30
print(a / b)  # Output: 3.3333333333333335
print(a % b)  # Output: 1
print(a ** b)  # Output: 1000
print(a // b)  # Output: 3


Comparison Operators
1. Equal (==): a == b
2. Not Equal (!=): a != b
3. Greater Than (>): a > b
4. Less Than (<): a < b
5. Greater Than or Equal (>=): a >= b
6. Less Than or Equal (<=): a <= b

Examples:


a = 10
b = 5

print(a == b)  # Output: False
print(a != b)  # Output: True
print(a > b)  # Output: True
print(a < b)  # Output: False
print(a >= b)  # Output: True
print(a <= b)  # Output: False


Logical Operators
1. And (and): a and b
2. Or (or): a or b
3. Not (not): not a

Examples:


a = True
b = False

print(a and b)  # Output: False
print(a or b)  # Output: True
print(not a)  # Output: False


Assignment Operators
1. Assignment (=): a = b
2. Addition Assignment (+=): a += b (equivalent to a = a + b)
3. Subtraction Assignment (-=): a -= b (equivalent to a = a - b)
4. Multiplication Assignment (*=): a *= b (equivalent to a = a * b)
5. Division Assignment (/=): a /= b (equivalent to a = a / b)

Examples:


a = 10
b = 5

a += b
print(a)  # Output: 15

a -= b
print(a)  # Output: 10

a *= b
print(a)  # Output: 50

a /= b
print(a)  # Output: 10.0


Bitwise Operators
1. Bitwise AND (&): a & b
2. Bitwise OR (|): a | b
3. Bitwise XOR (^): a ^ b
4. Bitwise NOT (~): ~a

Examples:


a = 5   # binary: 101
b = 3   # binary: 011

print(a & b)  # Output: 1   # binary: 001
print(a | b)  # Output: 7   # binary: 111
print(a ^ b)  # Output: 6   # binary: 110
print(~a)     # Output: -6  # binary: ...111010


These are the basic operators in Python. Understanding these operators is essential for writing effective Python code.

In [91]:
5 + 2

7

In [92]:
5 * 2

10

In [93]:
5 / 2

2.5

In [94]:
'Python' + ' Guru'

'Python Guru'

In [95]:
'Python Guru |' * 5

'Python Guru |Python Guru |Python Guru |Python Guru |Python Guru |'

In [96]:
Price = 10000
Price.__sub__(500)

9500

In [97]:
Price.__mul__(5)

50000

In [98]:
Price / 3

3333.3333333333335

In [99]:
Price % 3  # % returns the remainder

1

In [100]:
Price // 3 # Double forward slash returns the whole number part

3333

In [101]:
# In Python, the order of operations is determined by the following rules:

# PEMDAS
# 1. Parentheses: Expressions inside parentheses are evaluated first.
# 2. Exponents: Exponents (e.g., **) are evaluated next.
# 3. Multiplication and Division: Multiplication (*) and division (/, //, %) are evaluated from left to right.
# 4. Addition and Subtraction: Addition (+) and subtraction (-) are evaluated from left to right.

# Example

# result = 2 + 3 * 4
# print(result)  # Output: 14


# In this example, the multiplication operation (3 * 4) is evaluated first, resulting in 12. Then, the addition operation (2 + 12) is evaluated, resulting in 14.

# Using Parentheses
# You can use parentheses to override the default order of operations:


# result = (2 + 3) * 4
# print(result)  # Output: 20


# In this example, the expression inside the parentheses (2 + 3) is evaluated first, resulting in 5. Then, the multiplication operation (5 * 4) is evaluated, resulting in 20.

# Order of Operations Table
# Here's a table summarizing the order of operations in Python:

# | Operator | Description |
# | --- | --- |
# | () | Parentheses |
# | ** | Exponents |
# | *, /, //, % | Multiplication and division |
# | +, - | Addition and subtraction |
# | ==, !=, >, <, >= , <= | Comparison operators |
# | not | Logical NOT |
# | and | Logical AND |
# | or | Logical OR |

In [102]:
min_salary = 50_000 # underscores are ignored by the interpreter
max_salary = 100_000
avg_salary = (min_salary + max_salary) // 2
avg_salary

75000

In [103]:
# Assignment Operators

In [104]:
# Assignment operators in Python are used to assign a value to a variable. Here are the different types of assignment operators:

# Basic Assignment Operator
# 1. Assignment (=): assigns the value on the right side to the variable on the left side.

# Example:


# x = 5
# print(x)  # Output: 5


# Augmented Assignment Operators
# 1. Addition Assignment (+=): adds the value on the right side to the variable on the left side and assigns the result back to the variable.
# 2. Subtraction Assignment (-=): subtracts the value on the right side from the variable on the left side and assigns the result back to the variable.
# 3. Multiplication Assignment (*=): multiplies the variable on the left side by the value on the right side and assigns the result back to the variable.
# 4. Division Assignment (/=): divides the variable on the left side by the value on the right side and assigns the result back to the variable.
# 5. Modulus Assignment (%=): computes the modulus of the variable on the left side and the value on the right side and assigns the result back to the variable.
# 6. Exponentiation Assignment (**=): raises the variable on the left side to the power of the value on the right side and assigns the result back to the variable.
# 7. Floor Division Assignment (//=): performs floor division of the variable on the left side by the value on the right side and assigns the result back to the variable.

# Examples:


# x = 5

# x += 3  # equivalent to x = x + 3
# print(x)  # Output: 8

# x -= 2  # equivalent to x = x - 2
# print(x)  # Output: 6

# x *= 2  # equivalent to x = x * 2
# print(x)  # Output: 12

# x /= 2  # equivalent to x = x / 2
# print(x)  # Output: 6.0

# x %= 2  # equivalent to x = x % 2
# print(x)  # Output: 0.0

# x = 2
# x **= 3  # equivalent to x = x ** 3
# print(x)  # Output: 8

# x //= 2  # equivalent to x = x // 2
# print(x)  # Output: 4


# Benefits
# Assignment operators provide a concise way to perform operations and assign the result back to a variable. They can make your code more readable and efficient.

In [105]:
x = 5

In [106]:
x += 2

In [107]:
x /= 2

In [108]:
x

3.5

In [109]:
x *= 5

In [110]:
x

17.5

In [111]:
2.5 ** 5

97.65625

In [112]:
Salary_1 = 100_000
Salary_2 = 50_0000

In [113]:
if Salary_1 > Salary_2:
    print('Salary_1 is greater than Salary_2')
else:
    print('Salary_2 is greater than Salary_1')

Salary_2 is greater than Salary_1

In [114]:
# Conditional Statements

In [115]:
# Conditional statements in Python are used to execute different blocks of code based on certain conditions. Here are the different types of conditional statements:

# If Statement
# The if statement is used to execute a block of code if a certain condition is true.


# x = 5
# if x > 10:
#     print("x is greater than 10")
# else:
#     print("x is less than or equal to 10")


# If-Else Statement
# The if-else statement is used to execute one block of code if a certain condition is true and another block of code if the condition is false.


# x = 5
# if x > 10:
#     print("x is greater than 10")
# else:
#     print("x is less than or equal to 10")


# If-Elif-Else Statement
# The if-elif-else statement is used to check multiple conditions and execute different blocks of code based on those conditions.


# x = 5
# if x > 10:
#     print("x is greater than 10")
# elif x == 5:
#     print("x is equal to 5")
# else:
#     print("x is less than 5")


# Nested If Statements
# Nested if statements are used to check conditions within conditions.


# x = 5
# y = 10
# if x > 0:
#     if y > 5:
#         print("Both conditions are true")


# Conditional Expressions
# Conditional expressions are a concise way to write simple if-else statements.


# x = 5
# result = "x is greater than 10" if x > 10 else "x is less than or equal to 10"
# print(result)


# Comparison Operators
# Comparison operators are used to compare values and reAturn a boolean result.

# - == (equal to)
# - != (not equal to)
# - > (greater than)
# - < (less than)
# - >= (greater than or equal to)
# - <= (less than or equal to)

# Logical Operators
# Logical operators are used to combine conditions and return a boolean result.

# - and (logical and)
# - or (logical or)
# - not (logical not)

In [116]:
if True:
  print('Python is sweet!')

Python is sweet!

In [117]:
Job_skill = 'Python'
Required_skill = 'SQL'
if Job_skill == Required_skill:
  print('You are qualified for this job!')
else:
  print('You are not qualified for this job')

You are not qualified for this job

In [118]:
Job_skill = ['Python', 'SQL']
Required_skill = 'SQL'
if Required_skill in Job_skill:
  print('You are qualified for this job!')
else:
  print('You are not qualified for this job')

You are qualified for this job!

In [119]:
years_of_experience = 4
if years_of_experience >= 5:
  print('You are qualified for this job!')
else:
  print('You are not qualified for this job')

You are not qualified for this job

In [120]:
years_of_experience = 7
Job_skill = ['Python', 'SQL', 'Machine Learning']
Required_skill = 'Excel'
if years_of_experience >= 8:
  print('You are qualified for this job!')
elif Job_skill == Required_skill:
  print('You are qualified for this job!')
else:
  print('You do not have the requied Skill nor Experience')

You do not have the requied Skill nor Experience

In [121]:
# List

In [122]:
Job_skills = ['Python', 'SQL', 'Machine Learning']

In [123]:
Job_skills.append('Excel')

In [124]:
Job_skills

['Python', 'SQL', 'Machine Learning', 'Excel']

In [125]:
Job_skills.remove('Python')

In [126]:
Job_skills

['SQL', 'Machine Learning', 'Excel']

In [127]:
len(Job_skills)

3

In [128]:
Job_skills.index('SQL')

0

In [129]:
Job_skills[2]

'Excel'

In [130]:
Job_skills[-3]

'SQL'

In [131]:
Job_skills.insert(0, 'Tableau')

In [132]:
Job_skills

['Tableau', 'SQL', 'Machine Learning', 'Excel']

In [133]:
Job_skills.pop(1)

'SQL'

In [134]:
Job_skills

['Tableau', 'Machine Learning', 'Excel']

In [135]:
skill_1, skill_2, skill_3 = Job_skills # Unpacking

In [136]:
print(skill_1)
print(skill_2)
print(skill_3)

Tableau
Machine Learning
Excel

In [137]:
# Comparing two list

In [138]:
Employee_1 = ['Python', 'SQL', 'Machine Learning']
Employee_2 = ['TAblea', 'SQL', 'Power bI']

In [139]:
Employee_skills = Employee_1 + Employee_2
Employee_skills

['Python', 'SQL', 'Machine Learning', 'TAblea', 'SQL', 'Power bI']

In [140]:
Employee_skills = list(set(Employee_skills))
Employee_skills

['SQL', 'Power bI', 'Machine Learning', 'TAblea', 'Python']

In [141]:
Employee_skills

['SQL', 'Power bI', 'Machine Learning', 'TAblea', 'Python']

In [142]:
Employee_skills[-3]

'Machine Learning'

In [143]:
skill_concerned , *skill_not_concerned = Employee_skills
print(skill_concerned)
print(skill_not_concerned)

SQL
['Power bI', 'Machine Learning', 'TAblea', 'Python']

In [144]:
# list Comprehension

numbers=[x for x in range(1,11)]
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [145]:
#Odd Numbers

even = [x for x in range(1,11) if x%2==0]
even

[2, 4, 6, 8, 10]

In [146]:
#odd Numbers

Odd = [x for x in range(1,11) if x%2 != 0]
Odd

[1, 3, 5, 7, 9]

In [147]:
# taking the square of ecach even number in the list

even_square = [x**2 for x in range(1,11) if x%2==0]
even_square

[4, 16, 36, 64, 100]

In [148]:
# List comprehensions also work for strings

strings = [x for x in 'DATA ANALYTICS']
strings

['D', 'A', 'T', 'A', ' ', 'A', 'N', 'A', 'L', 'Y', 'T', 'I', 'C', 'S']

In [149]:
#Examples
skills = [skill for skill in Employee_skills if skill == 'SQL']
skills

['SQL']

In [150]:
Employee_skills

['SQL', 'Power bI', 'Machine Learning', 'TAblea', 'Python']

In [152]:
skills = [skill for skill in Employee_skills if skill == 'Management']
len(skills)

0

In [ ]:
# Exercise

In [167]:
# Define data science job roles and required skills
job_roles = [
    {'role': 'Data Analyst', 'skills': ['Python', 'SQL', 'Excel']},
    {'role': 'Data Scientist', 'skills': ['Python', 'R', 'Machine Learning', 'Deep Learning']},
    {'role': 'Machine Learning Engineer', 'skills': ['Python', 'TensorFlow', 'PyTorch', 'Scikit-Learn']},
    {'role': 'Data Engineer', 'skills': ['Python', 'Apache Spark', 'Hadoop', 'SQL']},
    {'role': 'Business Intelligence Analyst', 'skills': ['Python', 'SQL', 'Tableau', 'Power BI', 'Excel']},
    {'role': 'Quantitative Analyst', 'skills': ['R', 'Python', 'MATLAB', 'Statistics']},
    {'role': 'Operations Analyst', 'skills': ['Python', 'SQL', 'Data Visualization', 'Process Improvement']},
    {'role': 'Database Administrator', 'skills': ['SQL', 'Oracle', 'MySQL', 'Database Management']},
    {'role': 'AI Engineer', 'skills': ['Python', 'TensorFlow', 'PyTorch', 'Computer Vision']},
    {'role': 'Statistician', 'skills': ['R', 'SAS', 'Python', 'Statistical Modeling']}
]
# My skills
my_skills = ['Python', 'SQL', 'Excel']

In [158]:
for job in job_roles:
  print(job)

{'role': 'Data Analyst', 'skills': ['Python', 'SQL', 'Excel']}
{'role': 'Data Scientist', 'skills': ['Python', 'R', 'Machine Learning', 'Deep Learning']}
{'role': 'Machine Learning Engineer', 'skills': ['Python', 'TensorFlow', 'PyTorch', 'Scikit-Learn']}
{'role': 'Data Engineer', 'skills': ['Python', 'Apache Spark', 'Hadoop', 'SQL']}
{'role': 'Business Intelligence Analyst', 'skills': ['Python', 'SQL', 'Tableau', 'Power BI', 'Excel']}
{'role': 'Quantitative Analyst', 'skills': ['R', 'Python', 'MATLAB', 'Statistics']}
{'role': 'Operations Analyst', 'skills': ['Python', 'SQL', 'Data Visualization', 'Process Improvement']}
{'role': 'Database Administrator', 'skills': ['SQL', 'Oracle', 'MySQL', 'Database Management']}
{'role': 'AI Engineer', 'skills': ['Python', 'TensorFlow', 'PyTorch', 'Computer Vision']}
{'role': 'Statistician', 'skills': ['R', 'SAS', 'Python', 'Statistical Modeling']}

In [168]:
for job in job_roles:
  print(job['skills'])

['Python', 'SQL', 'Excel']
['Python', 'R', 'Machine Learning', 'Deep Learning']
['Python', 'TensorFlow', 'PyTorch', 'Scikit-Learn']
['Python', 'Apache Spark', 'Hadoop', 'SQL']
['Python', 'SQL', 'Tableau', 'Power BI', 'Excel']
['R', 'Python', 'MATLAB', 'Statistics']
['Python', 'SQL', 'Data Visualization', 'Process Improvement']
['SQL', 'Oracle', 'MySQL', 'Database Management']
['Python', 'TensorFlow', 'PyTorch', 'Computer Vision']
['R', 'SAS', 'Python', 'Statistical Modeling']

In [169]:
for skill in my_skills:
  for job in job_roles:
    if skill in job['skills']:
      print(job['role'])

Data Analyst
Data Scientist
Machine Learning Engineer
Data Engineer
Business Intelligence Analyst
Quantitative Analyst
Operations Analyst
AI Engineer
Statistician
Data Analyst
Data Engineer
Business Intelligence Analyst
Operations Analyst
Database Administrator
Data Analyst
Business Intelligence Analyst

In [170]:
for skill in my_skills:
  for job in job_roles:
    if skill in job['skills']:
      print(job['role'])
      break

Data Analyst
Data Analyst
Data Analyst

In [171]:
my_skills = ['Python', 'SQL', 'Excel', 'Tableau', 'Power Bi']
for skill in my_skills:
  for job in job_roles:
    if skill in job['skills']:
      print(job['role'])
      break

Data Analyst
Data Analyst
Data Analyst
Business Intelligence Analyst

In [177]:
list_qualified =[]
for skill in my_skills:
  for job in job_roles:
    if skill in job['skills']:
      list_qualified.append(job['role'])
      break

In [180]:
list_qualified

['Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Business Intelligence Analyst']

In [185]:
list_qualified.count('Data Analyst')

3

In [186]:
list_qualified.count('Business Intelligence Analyst')

1

In [187]:
# Alternative

for job in job_roles:
  if all(skill in job['skills'] for skill in my_skills):
    print(job['role'])

In [189]:
job_roles

[{'role': 'Data Analyst', 'skills': ['Python', 'SQL', 'Excel']},
 {'role': 'Data Scientist',
  'skills': ['Python', 'R', 'Machine Learning', 'Deep Learning']},
 {'role': 'Machine Learning Engineer',
  'skills': ['Python', 'TensorFlow', 'PyTorch', 'Scikit-Learn']},
 {'role': 'Data Engineer',
  'skills': ['Python', 'Apache Spark', 'Hadoop', 'SQL']},
 {'role': 'Business Intelligence Analyst',
  'skills': ['Python', 'SQL', 'Tableau', 'Power BI', 'Excel']},
 {'role': 'Quantitative Analyst',
  'skills': ['R', 'Python', 'MATLAB', 'Statistics']},
 {'role': 'Operations Analyst',
  'skills': ['Python', 'SQL', 'Data Visualization', 'Process Improvement']},
 {'role': 'Database Administrator',
  'skills': ['SQL', 'Oracle', 'MySQL', 'Database Management']},
 {'role': 'AI Engineer',
  'skills': ['Python', 'TensorFlow', 'PyTorch', 'Computer Vision']},
 {'role': 'Statistician',
  'skills': ['R', 'SAS', 'Python', 'Statistical Modeling']}]

In [191]:
job_roles = [job['roles'] for job in job_roles if all(skill in job['skills'] for skill in my_skills)]

In [192]:
job_roles

[{'role': 'Data Analyst', 'skills': ['Python', 'SQL', 'Excel']},
 {'role': 'Data Scientist',
  'skills': ['Python', 'R', 'Machine Learning', 'Deep Learning']},
 {'role': 'Machine Learning Engineer',
  'skills': ['Python', 'TensorFlow', 'PyTorch', 'Scikit-Learn']},
 {'role': 'Data Engineer',
  'skills': ['Python', 'Apache Spark', 'Hadoop', 'SQL']},
 {'role': 'Business Intelligence Analyst',
  'skills': ['Python', 'SQL', 'Tableau', 'Power BI', 'Excel']},
 {'role': 'Quantitative Analyst',
  'skills': ['R', 'Python', 'MATLAB', 'Statistics']},
 {'role': 'Operations Analyst',
  'skills': ['Python', 'SQL', 'Data Visualization', 'Process Improvement']},
 {'role': 'Database Administrator',
  'skills': ['SQL', 'Oracle', 'MySQL', 'Database Management']},
 {'role': 'AI Engineer',
  'skills': ['Python', 'TensorFlow', 'PyTorch', 'Computer Vision']},
 {'role': 'Statistician',
  'skills': ['R', 'SAS', 'Python', 'Statistical Modeling']}]

In [193]:
# A deeper look into functions

In [195]:
salaries = [10000, 100050, 250000, 400000]

In [196]:
min(salaries)

10000

In [198]:
max(salaries)

400000

In [203]:
sum(salaries)

760050

In [206]:
(salaries)

[10000, 100050, 250000, 400000]

In [205]:
sorted(salaries)

[10000, 100050, 250000, 400000]

In [208]:
# Calculations of bonus
base_salary = 10000
bonus_rate = 0.1
bonus = base_salary * bonus_rate
bonus

1000.0

In [213]:
base_salary = 10000
bonus_rate = 0.1
bonus = base_salary * bonus_rate
print('Your Bonus is: ', bonus)
total_salary = base_salary + bonus
print('Your Total Salary is: ', total_salary)

Your Bonus is:  1000.0
Your Total Salary is:  11000.0

In [ ]:
# Defining your functions

In [218]:
def calculate_salaries(base_salary,bonus_rate):
  return(base_salary*(1 + bonus_rate))

In [219]:
calculate_salaries(10000,0.1)

11000.0

In [214]:


def sum_of_two_numbers(a, b):
  return a + b

In [215]:
sum_of_two_numbers(10, 2)

12

In [220]:
# Lambda or Anonymous FUNCTIONS

In [223]:
square = lambda x: x**2

In [225]:
square(3)

9

In [231]:
mul_by_two = lambda x,y: x*2

In [234]:
(lambda x,y: x*2 + y) (3,4)

10

In [238]:
# Using List Comprehension

list_salaries = [salary for salary in salaries]
list_salaries

[10000, 100050, 250000, 400000]